# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Logs
logs/
*.log

# Model checkpoints
*.h5
*.keras

# Local development settings
.env
.env.local
